/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.export-image-force-no-margin {
  margin: 0 !important;
  padding: 20px 20px 40px 20px !important;
  box-sizing: content-box;
  text-align: justify;
  hyphens: auto;
}

.export-image-force-no-margin .obsidian-metatable {
  display: none;
}

.export-image-preview-container {
  pointer-events: none;
}
